<div class="eqLogic eqLogic-widget allowResize  #eqType#" style="width: 450px;height: 120px;#style#"
    data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#"
    data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">
    <link rel="stylesheet" href="plugins/jardin/desktop/css/arrosage_template.css" />
    <div class="text-center widget-name">
        <span class="warning" title="#alert_name#">
            <i class='#alert_icon#'></i>
        </span>

        <span class="reportModeVisible">#nom# <span class="object_name">#object_name#</span></span>
        <a style="display:normal" href="#eqLink#" class="reportModeHidden"
            style="white-space: nowrap;overflow:hidden">#nom# <span class="object_name">#object_name#</span></a>
    </div>
    <div class="widget_arrosage_l1">
        <div class="div_c1">
            <img id="img#idArrosage#" class="image_arrosage" src="#img#" alt="image_arrosage">
            <div>
                <a class="btn btn-success btn-xs startArrosage pull-left" onclick="start_arrosage#idArrosage#(#idArrosage#)"><i
                        class="fas fa-faucet"></i> Run</a>
                <a class="btn btn-warning btn-xs pull-left" onclick="action_arrosage#idArrosage#(#idArrosage#,'stop')"><i
                        class="fas fa-power-off"></i> Stop</a>
            </div>
        </div>
        <div class="div_c2">
            <div style="text-align: center; text-decoration: underline;">Dernier Arrosage</div>
            <div id="DateLastArrosage#idArrosage#">Date : #DateLastArrosage#</div>
            <div id="DureeLastArrosage#idArrosage#">Durée : #DureeLastArrosage#</div>
            <div id="TypeLastArrosage#idArrosage#">Type : #TypeLastArrosage#</div>
            <div id="ConsoLastArrosage#idArrosage#">Consomation : #ConsoLastArrosage#</div>
        </div>
        <div class="div_c3">
            <div style="text-align: center; text-decoration: underline;">Statistics</div>
            <div id="ConsoJour#idArrosage#">#ConsoJour#</div>
            <div id="ConsoSemaine#idArrosage#">#ConsoSemaine#</div>
            <div id="ConsoMois#idArrosage#">#ConsoMois#</div>
            <div id="ConsoAn#idArrosage#">#ConsoAn#</div>
        </div>

    </div>
    <script>

        function refresh#idArrosage#(){
            $.ajax({
                type: 'POST',
                url: 'plugins/jardin/core/ajax/jardin.ajax.php',
                data: {
                    action: 'get_data_arrosage',
                    id_eqlogic: #id#,
                    id_arrosage: #idArrosage#
                },
                dataType: 'json',
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    $('#DateLastArrosage#idArrosage#').html('<div class="DateLastArrosage">Date : '+ data.result.DateLastArrosage + '</div>');
                    $('#DureeLastArrosage#idArrosage#').html('<div class="DureeLastArrosage">Durée : '+ data.result.DureeLastArrosage + '</div>');
                    $('#TypeLastArrosage#idArrosage#').html('<div class="TypeLastArrosage">Type : '+ data.result.TypeLastArrosage + '</div>');
                    $('#ConsoLastArrosage#idArrosage#').html('<div class="ConsoLastArrosage">Consomation : '+ data.result.ConsoLastArrosage + '</div>');
                    $('#ConsoJour#idArrosage#').html('<div class="ConsoJour">'+ data.result.ConsoJour + '</div>');
                    $('#ConsoSemaine#idArrosage#').html('<div class="ConsoSemaine">'+ data.result.ConsoSemaine + '</div>');
                    $('#ConsoMois#idArrosage#').html('<div class="ConsoMois">'+ data.result.ConsoMois + '</div>');
                    $('#ConsoAn#idArrosage#').html('<div class="ConsoAn">'+ data.result.ConsoAn + '</div>');
                    document.getElementById('img#idArrosage#').src =data.result.img 
                }
            })

        }
        refresh#idArrosage#()
        jeedom.cmd.update['#refresh_id#'] = function(_options) {
            refresh#idArrosage#()
            
        }

        function start_arrosage#idArrosage#(id_arrosage) {
            bootbox.prompt({
                title: "Combien de temps (min) voulez vous arroser (0 = pas de timer)?",
                inputType: 'number',
                callback: function (result) {
                    timerreq = result
                    if (result !== null && result !== false && result !== "") {
                        action_arrosage#idArrosage#(id_arrosage, 'start', timerreq)
                    }

                }
            });
        }


        function action_arrosage#idArrosage#(id_arrosage, action, timer = false) {
            $.ajax({
                type: 'POST',
                url: 'plugins/jardin/core/ajax/jardin.ajax.php',
                data: {
                    action: 'action_arrosage',
                    id: init(#id#),
                    action_arrosage: init(action),
                    id_arrosage: init(id_arrosage),
                    timer_manual: init(timer)
                },
                dataType: 'json',
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    if (data.state != 'ok') {
                        $('#div_alert').showAlert({ message: data.result, level: 'danger' });
                        return;
                    }
                }
            })
        }


    </script>
</div>