#div_pageContainer{
    position: relative;
}
.un_plan_potager_info{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 182%;

}


.plan_potager_liste_element,.plan_potager_btn_element{
    background-color: rgba(170, 170, 170,0);
    cursor: pointer;
    display: flex;
    padding-left: 15px;
    height: 60px;
    color: rgb(150, 150, 150);
    position: relative;
    /* align-content: center; */
    align-items: center;
}

.plan_potager_liste_element:hover{
    transition: 0.5s;
    background-color: rgba(200, 200, 200,0.2);
    border-radius: 5px;
}

.plan_potager_liste_element_liste{
    position: absolute;
    top: 40px;
    background-color: rgb(240, 240, 240);
    border: solid 1px white;
    max-height: calc(100vh - 197px);
    width: 500px;
    max-width: calc(100vw - 27px);
    left: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 12px #555;
    color:rgb(100,100,100);
}

.plan_potager_liste_element_liste_scroll{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}



.plan_potager_liste_element_titre{
    padding-left: 10px;
    margin: 0px;
}
.plan_potager_un_ensemble_bouton2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    min-height: 50px;
    align-items: center;
    cursor: pointer;
}

.plan_potager_un_ensemble_bouton2:hover{
    transition: 0.5s;
    background-color: rgba(200, 200, 200,0.4);
    border-radius: 5px;
}

.plan_potager_un_ensemble_bouton2_img{
    margin: 5px;
    margin-right: 20px;
}

.plan_potager_bouton{
    background-color: rgba(190, 190, 190,0.4);
    max-height: 55px;
    height: 55px;
    width: 99%;
    border-bottom: solid 3px rgb(170, 170, 170);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
}

.plan_potager{
    position: relative;
    overflow: auto;
    height: calc(100vh - 130px);
    
}
.un_plan_potager_father{
    position: relative;
    width: fit-content;
    margin-bottom: 80px;
    user-select: none;
}
.un_plan_potager{
    /*background-color: rgb(161, 110, 76);*/
    min-height: 50px;
    min-width: 50px;
    position: relative;
}
.un_plan_potager_bk_terre{
    background-image: url('../../../../plugins/jardin/data/img/terre_fond.jpg');
    background-size: 250px 250px;
    background-repeat: repeat;
}
.un_plan_potager_bk_herbe{
    background-image: url('../../../../plugins/jardin/data/img/herbe2.jpg');
    background-size: 200px 150px;
    background-repeat: repeat;
}

.quadrillage_potager{
        position: absolute;
        top : 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: 
             linear-gradient(90deg,
                 rgba(0,0,0,0) 0%,
                 rgba(0,0,0,0) calc(50% - 0.8px),
                 rgb(255, 255, 255) 50%,
                 rgba(0,0,0,0) calc(50% + 0.8px),
                 rgba(0,0,0,0) 100%),
             linear-gradient(0deg,
                 rgba(0,0,0,0) 0%,
                 rgba(0,0,0,0) calc(50% - 0.8px),
                 rgb(255, 255, 255) 50%,
                 rgba(0,0,0,0) calc(50% + 0.8px),
                 rgba(0,0,0,0) 100%);
         background-repeat : repeat;
         background-size: 30px 30px;
}

.un_objet_father{
    padding: 1px;
    min-height: fit-content;
    min-width: fit-content;
    position: absolute;
    z-index: 5;

}

.un_objet{
    min-height: 30px;
    min-width: 30px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.un_objet_true{
    position: absolute;
    width : 100%;
    height: 100%;
}

.un_objet_selected{
    border : dashed 3px white;
}

.un_objet_selected_h{
    border : dashed 8px rgb(206, 33, 33);
}


.resize_object_tmp{
    background-color: rgb(113, 113, 192);
    height: 14px;
    width: 14px;
    position: absolute;
    right: -5px;
    bottom: -5px;
    cursor: nw-resize;

}

.turn_object_tmp{
    background-color: rgba(30, 253, 0, 1);
    height: 19px;
    width: 19px;
    position: absolute;
    right: -15px;
    bottom: -15px;
    cursor: crosshair ;
}

.marge_scroll{
    min-height: 300px;
    position: relative;
}



.plan_potager_un_ensemble_bouton{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    margin: 1px;
    padding: 5px;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.plan_potager_un_ensemble_bouton:hover{
    background-color: rgba(200, 200, 200,0.2);
    border-radius: 5px;
    transition: 0.5s;
    color:white;
}

.plan_potager_un_ensemble_bouton_txt{
    color: rgb(150,150,150);
}

.carre_potager_img{
    border: solid 5px rgb(193 158 98);
    min-height: 25px;
    min-width: 25px;
    background-color: rgba(0, 0, 0, 0.2);

    background-image: url('../../../../plugins/jardin/data/img/terre_fond.jpg');
    background-size: 250px 250px;
    background-repeat: repeat;
}

.herbe_img{
    min-height: 25px;
    min-width: 25px;
    background-image: url('../../../../plugins/jardin/data/img/herbe2.jpg');
    background-size: 200px 150px;
    background-repeat: repeat;
}

.etiquette_img{
    min-height: 25px;
    min-width: 25px;
    background-image: url('../../../../plugins/jardin/data/img/etiquette.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.dalle_jardin_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/dale_jardin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.equipement_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/equipement.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.cmd_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/cmd.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.plan_jardin_un_ensemble_bouton_img{
    
}



.recherche_semence{
    height: 35px;
    width: 300px;
    margin: 8px;
}

.recherche_semence_menu{
    position: absolute;
    top: 122px;
    left: 8px;
    width: 600px;
    min-height: 30px;
    max-height: calc(100vh - 207px);
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    z-index : 10;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 8px;
}
.un_resultat_recherche{
    width: 100%;
    border-bottom: 1px solid black;
    height: 20px;
    min-height : 20px;
    cursor: pointer;
    background-color: white;
    padding-left: 5px;
    text-overflow: ellipsis;
    align-items: center;
    overflow: hidden;
    /* overflow-wrap: break-word; */
    white-space: nowrap;
    color: rgba(100, 100, 100, 1);
    
}

.un_resultat_recherche:hover{
    background-color: rgb(190, 190, 190);
    transition: 0.2s;
    font-weight: bold;
}

.nom_semence{
    position: absolute;
    left: 3px;
    bottom: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    right: 3px;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    font-size: 62%;
    padding-top: 1px;
    padding-bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    color:rgb(0, 12, 3);
}
.nom_semence_more_info{
    white-space:normal !important;
}
.nom_semence:hover{
    white-space:normal;
    transition: 0.5s;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1);
}

.semence_img2:hover{
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    
}

.semence_img2{
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: help;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bouton_print{
    margin-left: auto;
    margin-right: 10px;
}

.bouton_print_img{

}

#menu_obj,#menu_insert{
    position: absolute;
    min-height: 25px;
    width: 400px;
    max-width: calc(100vw - 5px);
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 6px #555;
    z-index: 10;
    border:solid 1px rgba(255, 255, 255, 0.8);
    border-radius: 6px;
}
.menu_obj_titre{
    height: 25px;
    width: 100%;
    padding: 3px;
    cursor: pointer;
    background-color: rgba(18, 110, 58);;
    color:white;
    font-weight: bold;
    text-align: center;
}

.menu_obj_item{
    height: 25px;
    width: 100%;
    padding: 3px;
    cursor: pointer;
    background-color: white;
    border-bottom: solid 1px rgba(18, 110, 58, 0.5);
    color:rgb(18, 110, 58);
    display: flex;
    align-items: center;
    position: relative;
}

.menu_obj_item_icon{
    margin-right: 3px;
    margin-left: 3px;
    height: 25px;
    width: 25px;
    padding: 4px;
}

.menu_obj_item_fleche{
    position: absolute;
    right: 5px;
}

.menu_obj_item_text{

}

.menu_obj_item:hover{
    background-color: silver;
    transition: 0.5s;
    font-weight: bold;
}

#start_help{
    text-align: center;
    font-size: 200%;
    width: 100vw;
    /* text-align: center !important; */
    position: absolute;
    margin-top: 67px;
}

.marqueur_compatibilite_association{
    background: radial-gradient(rgba(55, 151, 0, 0.9)  30%, rgba(67, 177, 4,0) 70%);
}
.marqueur_compatibilite_association_ind{
    background: radial-gradient(rgba(144, 255, 187, 0.9)  30%, rgba(67, 177, 4,0) 70%);
}
.marqueur_compatibilite_incompatibilite{
    background: radial-gradient(rgba(187, 0, 0, 0.9) 30%, rgba(67, 177, 4,0) 70%);
}
.marqueur_compatibilite_incompatibilite_ind{
    background: radial-gradient(rgba(255, 113, 113, 0.9)  30%, rgba(67, 177, 4,0) 70%);
}

.marqueur_compatibilite{
    
    height: 170%;
    width: 170%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 0;
}


.grillage_img{
    border-top: dotted 4px rgb(192,210,192);
    /* min-height: 25px; */
    max-height: 25px;
    min-width: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fil_arrosage_img{
    border-top: dotted 2px rgb(18, 52, 114);
    /* min-height: 25px; */
    max-height: 8px;
    min-width: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.haie_img{
    border-top: solid 20px rgb(35, 124, 35);
    /* min-height: 25px; */
    max-height: 25px;
    min-width: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.muret_img{
    min-height: 10px;
    min-width: 25px;
    background:url('../../../../plugins/jardin/data/img/mur.png');
    background-size: 35px 35px;
    background-repeat: repeat;
    max-height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cours_d_eau_img{
    min-height: 25px;
    min-width: 25px;
    background:linear-gradient(rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3)),url('../../../../plugins/jardin/data/img/eau.png');
    background-size: 35px 35px;
    background-repeat: repeat;
    background-color: none;
}

.mare_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/mare.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.arbre_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/arbre.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.composteur_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/compost.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.cuve_eau_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/cuve_eau.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.serre_img{
    border: solid 5px rgb(98, 150, 193);
    min-height: 25px;
    min-width: 25px;
    background-color: rgba(53, 51, 63, 0.2);
}

.tip_bottom{
    color:rgba(117, 117, 117, 0.5);
    font-size: 11px;
    position: absolute;
    bottom: 8px;
}

.variete_semence{
    display: none;
}

.cabane_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/cabane.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.poulailler_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/poulailler.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.info_quantite{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 2px white;
    padding: 8px;
    color:rgb(8, 61, 31);
}

.rocher_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/rocher.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.terrasse_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/terrasse.png');
    background-size: 60px 60px;
    background-repeat: repeat;
    background-color: none;
}

.evier_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/evier.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.table_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/table.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.bois_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/bois.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.arrosoir_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/arrosoir.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.paillage_semence{
    height: 100%;
    width: 100%;
    background: url('../../../../plugins/jardin/data/img/paille2.png');
    background-size: contain;
    background-repeat: repeat;
    background-color: none;
}

.un_objet_marqueur{
    position: absolute;
    left: 6px;
    top :6px;
    height: 22px;
    width: 22px;
    background: url('../../../../plugins/jardin/data/img/drapeau.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
    z-index: 6;
}

.square_selection{
    position : absolute;
    min-height: 3px;
    min-width: 3px;
    z-index: 9;
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0.1);
}

.etiquette{
    position: absolute;
    top: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* width: 10px; */
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    white-space: nowrap;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    padding-left: 2px;
    margin-right: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
}

.etiquette_etiquette{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* width: 10px; */
    text-align: center;
    overflow: hidden;
    font-size: 11px;
    white-space: wrap;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    padding-left: 2px;
    margin-right: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
}


#nom_potager{
    width: calc(100%/2 - 400px);
    text-align: center;
    margin-right: auto;
    position: absolute;
    /* left: 0; */
    right: 104px;
    top: -4px;
    margin-left: calc(50vw - 250px);
    margin-top: 10px;
    font-size: 18px;
    background-color: rgba(0,0,0,0)!important;
    text-align-last: center;
    border: solid 2px white !important;
}
#b_set{
    position: absolute;
    /* background-color: red; */
    right: 50px;
    top: 12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 32px;
}
#b_fs{
    position: absolute;
    /* background-color: red; */
    right: 6px;
    top: 12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 32px;
}

.un_nom_potager{
    font-size: 15px;
    text-align-last: center;
}

.plan_potager_un_ensemble_bouton2_demarcation{
    font-weight: bold;
    border-bottom: solid 2px rgb(85, 185, 128);
    width: 100%;
    height: 30px;
    margin-top: 10px;

}

#champ_recherche_liste_element{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: solid 1px rgb(85, 185, 128)  !important;
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.robot_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/robot.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.poubelle_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/poubelle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

.barbecue_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/barbecue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}



.stop-scrolling {
    
    overflow: hidden !important;
  }

  #debug{
      position: fixed;
      bottom: 0px;
      left: 0px;
      width: 400px;
      height: 200px;
      overflow: scroll;
      background-color: yellow;
      color: red;
  }
  

  @media (max-width: 800px) {
      .recherche_semence{
          width: 92px;
      }
      .plan_potager_liste_element,.plan_potager_btn_element{
        width: 40px;
      }

}

.puit_img{
    min-height: 25px;
    min-width: 25px;
    background: url('../../../../plugins/jardin/data/img/puit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: none;
}

#parametre_potage_fond{
    position: fixed;
    top : 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 98;
}

#parametre_potage{
    position: fixed;
    top : 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 5px;
}

#parametre_potage_titre{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
    color:black
}

.un_parametre_plan{
    display: flex;
    position: relative;
}

.un_parametre_plan_nom{
    color:black
}

.un_parametre_plan_set{
    position: absolute;
    left: 5px;
    color:black
}

#parametre_potage_close{
    position : absolute;
    bottom: 10px;
    cursor: pointer;
    border: solid 2px red;
    padding: 8px;
    left: 20px;
    right: 20px;
    color:red;
    background-color: white;
}
#parametre_potage_close:hover{
    transition: 1s;
    background-color: rgb(255, 175, 175);
}