#div_pageContainer{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  
  .aide_champ{
    margin-left: 40px;
    margin-bottom: 12px;
    padding: 2px;
    font-style: italic;
}

.rupture_icone_semence
{
    position: absolute;
    top: 55px;
    transform: rotate(45deg);
    width: 100%;
    height: 10px;
}

.un_semis,.un_arrosage,.une_tache,.un_achat{
    border-radius: 8px;
    background-color: rgba(120,120,120,0.1);
    padding: 10px;
    width: calc(100% - 20px);
    margin-top: 10px;
    position: relative;
    left: 10px;
}

.bg-light{
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    padding-top: 3px;
    border-radius: 5px;
}
#main_form{
    position: relative;
}


@media (max-width: 1200px) {
    #detect_as{
        position: relative;
        right: 0px;
    }
}
@media (min-width: 1200px) {
    #detect_as{
        position: fixed;
        right: 0px;
    }
    #ia_text{
        overflow-y: scroll;
        height: calc(100vh - 310px);
    }
}

@media (max-width: 500px) {
    
    ul.nav-tabs[role="tablist"]{
        margin-top: 35px;
    }
}

.encadre_img_semence{
    
    overflow: hidden;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;

}

.nom_detect_haut{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    width: fit-content;
    font-weight: bold;
    font-size: 180%;
    margin-bottom: 10px;
}

.ia_aide_haut{
    display: flex;
    justify-content: center;
}

#detect_as_nom_and_widget{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 10px;

}
.ia_aide_haut_img{
    height: 40px;
    margin: 15px;
    border-radius: 50px;
    border:solid 2px rgb(151, 175, 153);
    box-shadow: 2px 2px 6px #aaa;
}

@media (min-width: 1200px) {
    #a_detect_as{
        display: none !important;
    }
}

#recap_semence{
    position: absolute;
    left: 170px;
    font-size: 10px;
    margin: 0;
    /* padding: 0; */
    line-height: 1;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    padding: 5px;
    border-left: none;
    padding-left: 0;
    height: 62px;
    padding-left: 8px;
    flex-wrap: wrap;
    width: 158px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1218px) {
    #recap_semence{
        display: none !important;
    } 
}

.recap_semence{

}