.widget_potager_l1{
	width : 100%;
	display:flex;
	position: relative;
	justify-content: center;
}

.widget_potager_l1_c1
{
		display : flex;
		flex-direction : column;
		width: 75%;

}
.nom_semence{
	font-size: 120%;
	width: 100%;
	padding-top: 8px;
	font-weight: bold;
}
.detail_semence{
	font-style: italic;
	color:rgba(189, 189, 189, 0.9);
	font-size: 80%;
	overflow: hidden;
	height: 31px;
}

.etat_semence{
	height: 100%;
	padding-top: 8px;
	font-weight: bold;
	width: 100%;
	font-size: 90%;
}

.qte_semence{
	position: absolute;
	top : 0px;
	left: 36px;
	padding: 3px;
	border-radius: 5px;
	border:solid 1px  rgba(189, 189, 189, 0.7);
	background-color: white;
	height: 30px;
}

.image_semence{
	width : 70px;
	height : 70px;
	margin-left: 8px;
	margin-top: 30px;
}
.type_semence{
	position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 4px;
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 8px;
	border:solid 1px  rgba(189, 189, 189, 0.7);
	padding: 2px;
}